body {
    font-family:
        "Poppins",
        -apple-system,
        Roboto,
        Helvetica,
        sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
    width: 100%;
}
.locations-container {
    border-radius: 0px;
    max-width: 730px;
    width: 100%;
    margin-bottom: 50px;
}



location-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.locations-card {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;

}

.locations-title {
    color: #1c1c1e;
    font-family:
        Poppins,
        -apple-system,
        Roboto,
        Helvetica,
        sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
        padding-left: 20px;
        padding-top: 13px;
}

.locations-divider {
    background-color: #EFEFEF;
    border: none;
    margin-top: 11px;
    width: 50%;
    height: 2px;
    margin-left: 0;
}

.locations-content {
    align-self: center;
    margin-top: 21px;
    width: 100%;
    max-width: 679px;
    position: relative;
    padding-bottom: 30px;
}

.locations-grid {
    gap: 20px;
    display: flex;
    padding-bottom: 49px;
}

.location-item {
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    width: 100%;
    padding-bottom: 16px;
    flex-direction: column;
    align-items: stretch;
    min-height: 203px;
}

.location-header {
    align-self: center;
    display: flex;
    width: 100%;
    max-width: 100%;
    align-items: flex-start;
    gap: 14px;
}

.location-name {
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    font-family:
        Poppins,
        -apple-system,
        Roboto,
        Helvetica,
        sans-serif;
    font-weight: 500;
    letter-spacing: 0.1px;
    margin-top: 15px;
    flex-grow: 1;
    margin-bottom: 0;
}

.location-name-standalone {
    align-self: flex-start;
    margin-left: 20px;
    margin-top: 16px;
}

.location-badge {
    align-self: stretch;
    border-radius: 0px 0px 6px 6px;
    background-color: rgba(0, 0, 0, 1);
    height: 25px;
    padding: 6px 6px 6px 6px;
    gap: 2px;
    font-family:
        SF Pro,
        -apple-system,
        Roboto,
        Helvetica,
        sans-serif;
    font-size: 11px;
    color: #fefefe;
    font-weight: 700;
    white-space: nowrap;
}

.location-separator {
    background-color: rgba(180, 180, 180, 1);
    border: none;
    margin-top: 6px;
    width: 100%;
    height: 1px;
}

.location-details {
    margin-top: 9px;
    width: 100%;
}

.location-address {
    color: rgba(0, 0, 0, 1);
    font-size: 12px;
    font-family:
        Poppins,
        -apple-system,
        Roboto,
        Helvetica,
        sans-serif;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.11px;
    margin: 0;
    padding: 0px 20px;
}

.location-actions {
    display: flex;
    margin-top: 46px;
    align-items: stretch;
    gap: 21px;
    justify-content: center;
}

.location-action-button {
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    padding: 6px 15px;
    align-items: center;
    justify-content: center;
    gap: 6px;
    text-decoration: none;
    font-family:
        Poppins,
        -apple-system,
        Roboto,
        Helvetica,
        sans-serif;
    font-size: 9px;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    text-align: center;
    letter-spacing: -0.29px;
    line-height: 1;
    width: 40%;
}

.take-me-button {
    padding: 5px 15px;
    gap: 4px;
}

.action-icon {
    aspect-ratio: 0.6;
    object-fit: contain;
    object-position: center;
    width: 9px;
    align-self: flex-start;
}

.action-icon-large {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 18px;
    align-self: flex-start;
}

@media (max-width: 991px) {
    .locations-grid {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .location-item {
        width: 100%;
        margin-top: 20px;
    }

    .location-name-standalone {
        margin-left: 10px;
    }

    .location-badge {
        white-space: initial;
    }

    .location-separator {
        margin: 0 auto;
    }

    .location-actions {
        margin-top: 20px;
    }

    .location-action-button {
        padding: 6px 10px;
    }
}

@media (max-width: 991px) {
    body {
        display: block !important;
        padding: 0px;
    }
}